<div id="conteudo">
	<div class='container'>
		<div class='formulario'>
			<div id="tabs">
				<ul>
				  <li><a href="#tabs-1">Personagem</a></li>
				  <li><a href="#tabs-2">Vantagens</a></li>
				  <li><a href="#tabs-3">Poderes</a></li>
				  <li><a href="#tabs-4">Extras</a></li>
				</ul>
				<div id="tabs-1">
					<div style='position:relative;display: block;'><img class='imagemPersonagem' src='{{imagem_principal}}' />{{morto}}</div>
					<h1 class='titulo'>{{nome}}</h1>
					<h2 class='descricao'>{{descricao}}</h2>
					<p class='galeria'>{{imagens_carregadas}}</p>
					<p>{{ficha2}}</p>
				</div>
				<div id="tabs-2">
				    <p>{{vantagens}}</p>
				</div>
				<div id="tabs-3">
				  <p>Em desenvolvimento</p>
				</div>
				<div id="tabs-4">
				  <p>Em desenvolvimento</p>
				</div>
			  </div>
		</div>							
	</div>
</div>