<!DOCTYPE html>
<html>
    <head>
    <noscript><meta http-equiv="refresh" content="0; url={{baseurl}}habilitarjavascript"></noscript>
    <title>Eu Jogo Rpg lá no Davi</title>
     <link rel="icon" type="image/png" href="{{baseurl}}global/img/favicon.png" />
	 <meta name="theme-color" content="#000000"/> 
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <meta name="base" content="{{baseurl}}" />
	 <meta name="google-site-verification" content="yMOCv5MAdApCKqXpHhA-mLYbSVGDiGOxG9C7wu8H66A" />
     {{scripts}}        
    </head>
    <body>   
	 	<div id="msg_login">{{report}}</div>
		   		
	    