<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script type="text/javascript">
	document.getElementById('logout').style.display = 'none';
</script>
<title>Javascript Desabilitado!</title>
</head>
<body style="color:#D9D2BF; width:95%;height:100%; text-align: center;background-image: url('global/img/Softbuilder.png');background-repeat: no-repeat;background-position: top center;">

<div style="margin-top: 25%; padding-top: 5%;">
	<h1 style="color:#8cab12;font-style:itslic;">O Javascript está desabilitado. Ative-o para um melhor rendimento do sistema.</h1>
	<h2><a style="text-decoration: none;" href="https://support.google.com/adsense/answer/12654?hl=pt-BR">► Instruções para Ativar o Javascript.</a></h2>
</div>
</body>
</html>