<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="refresh" content="5; url={{redirecionamento}}">
<script type="text/javascript">
	document.getElementById('logout').style.display = 'none';
</script>
<title>Acesso Negado</title>
</head>
<body style="color:#D9D2BF; width:95%;height:100%; text-align: center;">
<div style="margin-top: 25%; padding-top: 5%;">
	<h1 style="color:#FF5002;font-style:itslic;">Você não tem permissão para acessar o conteúdo desta página  ou  sua sessão expirou ;</h1>
	<h3 style="color:#bbb3a2;">Aguarde, você será redirecionado em 5s.</h3>
	<h2 style="color:#aaa491;">Obrigado pela Atenção!</h2>
</div>
</body>
</html>